<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Books</h1>
<a href="/books/create">Create New Book</a>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>First Publish Year</th>
        <th>Authors</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.firstPublishDate}"></td>
        <td>
            <ul>
                <li th:each="author : ${book.authors}" th:text="${author}"></li>
            </ul>
        </td>
        <td>
            <a th:href="@{/books/{key}/update(key=${book.key})}">Update</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
